<nav class="links navigation">
<ul>
  <li><a href="{{site.baseurl}}/">Blog</a></li>
  <li class="dropdown">
    <a href="{{site.baseurl}}/travels">Travels</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/abroad">Semester Abroad</a>
    </div>
  </li>
  <li><a href="{{site.baseurl}}/programming">Programming</a></li>
  <li class="dropdown">
    <a href="{{site.baseurl}}/projects">Projects</a>
        <div class="dropdown-content">
          <a href="{{site.baseurl}}/metal-only">Metal Only</a>
          <a href="{{site.baseurl}}/mensaupb">Mensa UPB</a>
        </div>
  </li>
  <li><a href="{{site.baseurl}}/about">About Me</a></li>
</div>
</nav>
