.navigation {
  a {
    padding-right: 1em;
  }
}

header {
  margin-bottom: 24px;
}

.h3, .h4 {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}

.clear-float {
}

.post {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom-style: groove;
  display: inline-block;
  width: 100%;
}

.excerp p {
  -webkit-margin-after: 0em;
  width: 100%;
}